@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
}
.about-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.experiences-item {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.projects-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
